[Unit]
Description=Project Euler Bot
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/ProjectEulerBot

ExecStart=/root/ProjectEulerBot/.venv/bin/python eulerbot.py authentic.json

Restart=always
RestartSec=5

KillSignal=SIGINT
TimeoutStopSec=30

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target